.col-xs-12.text-center
  #refresh-messages.btn.btn-primary refresh messages

= simple_form_for @message, url: create_message_path do |f|
  = f.hidden_field :to_id
  .row
    .col-xs-11
      = f.input :body, label: false
    .col-xs-1#send-message-button
      = f.submit 'Send', class: 'btn btn-success'
#message-history
  = render 'messages'

