= link_to 'refresh message list', messanger_index_path
- if @users_with_new_messages.any?
  %h2 You receive new messages from users:
  %ul.list-unstyled
    - @users_with_new_messages.each do |user|
      %li
        = link_to user.full_name, messenger_path(user.id)

%h2 Select interlocutor to start conversation
%ul.list-unstyled
  - @users.each do |user|
    %li
      = link_to user.full_name, messenger_path(user.id)
