= simple_form_for @message, :html => { :class => 'form-horizontal' } do |f|
  = f.association :from, label_method: :full_name
  = f.association :to, label_method: :full_name
  = f.input :readed
  = f.input :body
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), messages_path, :class => 'btn btn-default'
