- model_class = Message
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:from_id) + ':'
  %br
  = @message.from.full_name
%p
  %strong= model_class.human_attribute_name(:to_id) + ':'
  %br
  = @message.to.full_name
%p
  %strong= model_class.human_attribute_name(:readed) + ':'
  %br
  = @message.readed
%p
  %strong= model_class.human_attribute_name(:body) + ':'
  %br
  = @message.body


= link_to t('.back', :default => t("helpers.links.back")), messages_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_message_path(@message), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), message_path(@message), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
