= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f|
  = f.input :email
  = f.input :admin
  = f.input :locked
  = render partial: 'additional_fields', locals: {f: f}
  = f.input :password
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), users_path, :class => 'btn btn-default'
